#q1, #q2, #q3, #q4, #q5, #scoreboard-add, #scoreboard {
    display: none;
}

#quiz, #scoreboard-add, #scoreboard {
    margin-top: 100px;
}

table, th, td {
    border: 1px solid black;
    margin: 100px auto 0 auto;
}

body {
    background-color: lightgray;
    text-align: center;
    font-family: 'Roboto', serif;
}

button {
    font-size: 20px;
    font-family: 'Roboto', serif;
    color: white;
    background-color: purple;
    margin: 5px;
    padding: 10px;
}

button:hover {
    background-color: orchid;
}